fastapi[standard]
langchain-community
pypdf2
python-multipart
rapidocr-onnxruntime
Jinja2
python-multipart
langchain-openai
langchain-core
unstructured
python-pptx
docx2txt
easyocr
torch torchvision torchaudio