input {
    border: none;
   
    width: 100%;
    outline: none;
}

.h1{
    font-size: 2.5em; 
    font-weight: bold;
    text-align: center;
}

.h2{
    font-size: 1.3em; 
    margin-top: 25px;
    margin-left: 400px;
}

.h3{
    font-size: 1em; 
    font-weight: bold;
    margin-left: 20px;
}

.h4{
    font-size: 1em; 
    margin-left: 450px;
    margin-top: 8px;
}

.h5{
    font-size: .3em;
}

@media print {
    /* Hide elements you don't want to print */
    .noPrint {
        visibility: hidden;
    }
}

.toggle_bar {
    width: 50px;
    height: 25px;
    background-color: #494949;
    border-radius: 12.5px;
    position: relative;
    cursor: pointer;
  }
  .toggle_button {
    width: 25px;
    height: 25px;
    background-color: rgb(0, 140, 255);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.4s ease;
  }


  .button-container{
    display: flex;
    justify-content: center;
}

.question-container{
    display: flex;
    justify-content: center;
}

button{
    background-color: #0000ff;
    border: #0000ff solid 2px;
    padding: 5px;
    border-radius: 5px;
    margin-top: 98px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    width: 350px;
    margin-left: 3px;
    margin-right: 3px;
}

a{
    color: white;
}