form{
    border: black solid 2px;
    margin: 15px;
    padding:10px;
    background-color: rgb(232, 229, 229);
    box-shadow: 6px 6px #0000ff51;

}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
}

input,option,select,button{
    border: #0000ff solid 1px;
    padding: 10px;
    border-radius: 5px;
    margin: 3px;
    margin-right: 10px;
}

select{

    height: 40px;

}


h1{
    text-align: center;
    font-size: 48px;
}

label{
    font-size: 24px;
}
button{
    background-color: #0000ff;
    border: #0000ff solid 2px;
    padding: 5px;
    border-radius: 5px;
    margin-top: 85px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    width: 400px;
}

.question-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 400px;
    border: #0000ff solid 1px;
    padding: 10px;
}

h2{
    margin-top: 50px;
}

.submit-button-container{
    display: flex;
    justify-content: end;
    align-items: end;
    margin-bottom: 55px;
    margin-right: 79px;
}

#Philosophy>input{
    width: 350px;
}

#Material>input{
    width: 350px;
    height: 13px;
}

#Material>div>input{
    width: 350px;
    height: 13px;
    font-size: 16px;
}

#testInfo>.question-grid>input{
    margin: 5px;
    padding: 8px;
    font-size: 16px;
}

#questionMakeup>.question-grid>input{
    margin: 5px;
    padding: 8px;
    font-size: 16px;
    max-width: 150px;
}

.web-links{
    display: flex;
    justify-content: center;
}

textarea{
    font-size: 16px;
}

.logo{
    width: 25% !important;
    height: auto;
}
