<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', path='finished_test.css') }}">
</head>
<header>
        <input type="text" name="titleBox" value= "{{ Settings.title }}" class="h1">
        <input type="text" name="classBox" value= "{{ Settings.course }}" class="h3">
        <input type="text" name="classBox" value= "{{ Settings.professor }}" class="h3">
</header>
<body>
    <br>
    {%- for question in Test.questions %}

    <input type="text" name="titleBox" value= "{{ question.question }}" class="h2">

    {% if question.type == 'written' %}
    <input type="text" name="titleBox" value= "{{ question.answer }}" class="h4">
    {% endif %}
    
    {% if question.type == 'multiple' %}

        {% for choice in (question.choices)%}
            <input type="text" name="titleBox" value= " {{loop.index}}: {{ choice }}" class="h4">
        {% endfor %}

    {% endif %}
    <br>
    {% endfor %}
</body>
</html>