<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', path='finished_test.css') }}">
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js"> </script> <!-- Connect online Javascript library to capture canvas as a PDF -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
<script src="{{ url_for('static', path='finished_test.js') }}"></script>
<body>
    <p class="edit-notice noPrint">Click a question to edit</p>

    <div id="test">
        <input type="text" name="titleBox" value= "{{ Settings.title }}" class="h1">
        <input type="text" name="classBox" value= "Name: __________________" class="h3">
        <input type="text" name="classBox" value= "{{ Settings.course }}" class="h3">
        <input type="text" name="classBox" value= "{{ Settings.professor }}" class="h3">
        <br>

            {%- for question in Test.questions %}

                <textarea type="text" name="titleBox" rows="3" cols="45" class="h2">{{loop.index}}. {{ question.question }}</textarea>

                {% if question.q_type == 'written' %}
                    <div>
                    <textarea type="text" id="writtenAnswer" class="writtenAnswer h4 correctAnswer" rows="3" cols="45" name="titleBox" >{{ question.answer }}</textarea>
                    <textarea type="text" id="" class="h4 noAnswer" rows="3" cols="45" name="titleBox" value= ""></textarea>
                    </div>
                {% endif %}
                
                {% if question.q_type == 'multiple_choice' %}

                    {% for choice in (question.choices)%}
                        {% if choice == question.answer %}
                        <input type="text" id="choiceAnswer" class= "choiceAnswer h4 correctAnswer" name="titleBox" value= " {{loop.index | toLetter}}: {{ choice }}" class="h4" style="color: #0000ff";>
                        {% else %}
                        <input type="text"  id="choiceAnswer" class= "choiceAnswer h4" value= " {{loop.index | toLetter}}: {{ choice }}" class="h4">
                        {% endif %}    
                    {% endfor %}

                {% endif %}

                {% if question.q_type == 'TF' %}


                        {% if question.answer == 'True' %}
                        <input type="text" id="choiceAnswer" class= "choiceAnswer h4 correctAnswer" name="titleBox" value= "A: True" class="h4" style="color: #0000ff" ;>
                        <input type="text" id="choiceAnswer" class= "choiceAnswer h4 " name="titleBox" value= "B: False" class="h4">
                        {% else %}
                        <input type="text"  id="choiceAnswer" class= "choiceAnswer h4"  value= "A: True" class="h4">
                        <input type="text"  id="choiceAnswer" class= "choiceAnswer h4 correctAnswer" value= "B: False" class="h4" style="color: #0000ff" ;>
                        {% endif %}   
                    {% endif %} 
                <br id="{{loop.index}}">
            {% endfor %}
    </div>
    <div class="button-container">
        <a href="/" class="noPrint"> <Button>Back to Settings</Button></a>

        <div class="toggle">
            <label class="toggle_label noPrint"> Key </label>
            <div class="toggle_bar" id="boundToggle">
            <div class="toggle_button" id="toggle_button"> </div>
            </div>
            <label class="toggle_label noPrint"> Test </label>
        </div>
        <button id="DownloadButton" class="noPrint"> Download Test</button>
        
        
            
    </div>
    
</body>
</html>